<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.boostyourself">
   <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoostYourSelf">
        <activity android:name=".financialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >  </activity>
        <activity android:name=".ConfidienceActivity" android:configChanges="orientation|screenLayout|keyboardHidden|screenSize"  />
        <activity android:name=".Cominicationactivity" android:configChanges=""/>
        <activity android:name=".Relationshipactivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".BodyActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".PsyhologyActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".EconomicActivityy" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".CharismaActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>